<!-- templates/includes/footer.html -->
{% load static %}
{% block footer %}
  <section class="my-footer fixed-bottom bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-sm-12 my-3">
          <a href="/" class="text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24">
              <use xlink:href="#world" />
            </svg>
          </a>
          <span class="text-body-secondary">&copy; {% now "Y" %} Copyright. <span style="color:red">Blog</span> kvadimas'a.</span>
        </div>
        <div class="col-lg-3 col-sm-12 my-3 d-flex justify-content-end">
          <ul class="nav list-unstyled">
            <li class="mx-1">
              <a class="text-body-secondary" href="https://t.me/cook_shawarma" target="_blank">
                <svg class="bi" width="24" height="24">
                  <use xlink:href="#telegram" />
                </svg>
              </a>
            </li>
            <li class="mx-1">
              <a class="text-body-secondary" href="https://github.com/kvadimas" target="_blank">
                <svg class="bi" width="24" height="24">
                  <use xlink:href="#github" />
                </svg>
              </a>
            </li>
            <li class="mx-1">
              <a class="text-end" href="#">
                <svg class="bi" width="24" height="24">
                  <use xlink:href="#upnow" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}