{% load static %}
{% load thumbnail %}
{% block header %}
  <section class="my-navigation bg-light">
    <nav class="navbar navbar-expand-fluid navbar-light bg-light" aria-label="Offcanvas navbar light">
      <div class="container-fluid">
        <a href="/" class="navbar-brand">
          <span style="color:#566573">
            <svg class="bi" width="45" height="45" fill="currentColor">
              <use xlink:href="#logo" />
            </svg>
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
          <div class="offcanvas-header">
            {% if user.is_authenticated %}

            <div class="dropdown text-end me-2">
              <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {% thumbnail user.profile_pic "32x32" crop="center" upscale=True as im %}
                  <img alt="mdo" width="32" height="32" class="rounded-circle" src="{{ im.url }}">
                {% endthumbnail %}
              </a>
              <ul class="dropdown-menu text-small" style="">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="/admin/">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'signout' %}">
                  <svg class="bi" width="14" height="14" fill="currentColor">
                    <use xlink:href="#door" />
                  </svg>
                  Выход
                </a></li>
              </ul>
            </div>

            {% else %}
            <button type="button" class="btn btn-outline-primary me-2" onclick="openSigninPage()">
              <svg class="bi" width="16" height="16" fill="currentColor">
                <use xlink:href="#door" />
              </svg>Вход
            </button>

            <a href="{% url 'signin' %}" class="btn btn-outline-light mr-2">Вход</a>

            <script>
              function openSigninPage() {
                  window.location.href = "{% url 'signin' %}";
              }
            </script>

            <button type="button" class="btn btn-outline-success me-2">
              <svg class="bi" width="16" height="16" fill="currentColor">
                <use xlink:href="#reg" />
              </svg>Регистрация
            </button>
            {% endif %}

            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">
                  <svg class="bi" width="16" height="16" fill="currentColor">
                    <use xlink:href="#home" />
                  </svg>
                  Home
                </a>
              </li>
              {% comment %} Убери заглушки {% endcomment %}
              <li class="nav-item">
                <a class="nav-link" onclick="return false;" href="/about">
                  <span class="" style="color:#F39C12">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cone-striped" viewBox="0 0 16 16" >
                      <path d="m9.97 4.88.953 3.811C10.159 8.878 9.14 9 8 9c-1.14 0-2.158-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12zm-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.275 3.9C6.8 3.965 7.382 4 8 4c.618 0 1.2-.036 1.725-.098zm4.396 8.613a.5.5 0 0 1 .037.96l-6 2a.5.5 0 0 1-.316 0l-6-2a.5.5 0 0 1 .037-.96l2.391-.598.565-2.257c.862.212 1.964.339 3.165.339s2.303-.127 3.165-.339l.565 2.257 2.391.598z"/>
                    </svg>
                  </span>
                  About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="return false;" href="/docs">
                  <span class="" style="color:#F39C12">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cone-striped" viewBox="0 0 16 16" >
                      <path d="m9.97 4.88.953 3.811C10.159 8.878 9.14 9 8 9c-1.14 0-2.158-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12zm-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.275 3.9C6.8 3.965 7.382 4 8 4c.618 0 1.2-.036 1.725-.098zm4.396 8.613a.5.5 0 0 1 .037.96l-6 2a.5.5 0 0 1-.316 0l-6-2a.5.5 0 0 1 .037-.96l2.391-.598.565-2.257c.862.212 1.964.339 3.165.339s2.303-.127 3.165-.339l.565 2.257 2.391.598z"/>
                    </svg>
                  </span>
                  Docs
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/">
                  <svg class="bi" width="20" height="20" fill="currentColor">
                    <use xlink:href="#admin" />
                  </svg>
                  Админка
                </a>
              </li>
            </ul>
            <form class="d-flex mt-3 mt-lg-0" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success me-2" type="submit">
                <svg class="bi" width="16" height="16" fill="currentColor">
                  <use xlink:href="#search" />
                </svg>Найти
              </button>
            </form>
          </div>
        </div>
      </div>
    </nav>
  </section>
{% endblock %}
