{% load static %}
{% block header %}
  <section class="my-navigation bg-light">
    <!-- Грузим Иконки -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="light">
      <div class="container-fluid">
        <a href="/" class="navbar-brand">
          <span style="color:#566573">
            <svg class="bi" width="45" height="45" fill="currentColor">
              <use xlink:href="#logo" />
            </svg>
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav me-auto mb-2 mb-lg-0">
            <a class="nav-link active" aria-current="page" href="/">
              <h3>Главная</h3>
            </a>
            <a class="nav-link" href="#"><h3>Контакты</h3></a>
          </div>
          <form class="d-flex justify-content-center align-items-center" role="search">
            <a href="/admin/" class="btn btn-sm btn-danger me-2">
              <svg class="bi" width="16" height="16" fill="currentColor">
                <use xlink:href="#admin" />
              </svg>
              Админка
            </a>
            <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск" />
            <button class="btn btn-outline-success me-2" type="submit">
              <svg class="bi" width="16" height="16" fill="currentColor">
                <use xlink:href="#search" />
              </svg>Найти
            </button>
            <button type="button" class="btn btn-outline-primary me-2">
              <svg class="bi" width="16" height="16" fill="currentColor">
                <use xlink:href="#door" />
              </svg>Вход
            </button>
            <button type="button" class="btn btn-outline-success me-2">
              <svg class="bi" width="16" height="16" fill="currentColor">
                <use xlink:href="#reg" />
              </svg>Регистрация
            </button>
            <button type="button" class="btn btn-outline-secondary">
              <svg class="bi" width="16" height="16" fill="currentColor">
                <use xlink:href="#door" />
              </svg>Выход
            </button>
          </form>
        </div>
      </div>
    </nav>
  </section>
{% endblock %}
